#{extends 'story.html' /}
#{set title:'Books.index.home' /}

<div class="container">
    <div class="mt-2">
        #{pagination totalPage: totalPage, page: page, size: size /}
    </div>
    <div class="table-responsive-lg">
        <table class="table table-sm">
            <tr>
                <th class="w-75">&{'Books.index.title'}</th>
                <th class="w-25 text-nowrap">&{'Books.index.author'}</th>
                <th></th>
            </tr>
            #{list books, as:'book'}
            <tr>
                <td>
                    <a href="/books/${book.id}">${book.title}</a>
                </td>
                <td class="text-nowrap">
                    <a href="/books?q=${book.author}">${book.author}</a>
                </td>
                <td class="text-nowrap">
                    <a class="btn btn-info btn-sm" href="/books/${book.id}/edit">&{'Books.index.edit'}</a>
                    <a class="btn btn-primary btn-sm" href="/books/${book.id}/download">&{'Books.index.download'}</a>
                </td>
            </tr>
            #{/list}
        </table>
    </div>
    <div class="mt-2">
        #{pagination totalPage: totalPage, page: page, size: size /}
    </div>
</div>
