#{extends 'main.html' /}
#{set title:'Authenticate.login.title' /}
%{
    googleClientId = play.configuration.getProperty("google.client_id")
    facebookClientId = play.configuration.getProperty("facebook.client_id")
    googleRedirectUri = play.mvc.Router.getFullUrl('Authenticate.loginWithGoogle').replace('http://eventmap.', 'https://eventmap.')
    facebookRedirectUri = play.mvc.Router.getFullUrl('Authenticate.loginWithFacebook').replace('http://eventmap.', 'https://eventmap.')
}%

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <a class="btn btn-primary btn-block" type="button"
               href="https://accounts.google.com/o/oauth2/v2/auth?client_id=${googleClientId}&scope=openid+profile+email&response_type=code&redirect_uri=${googleRedirectUri}">
                &{'Authenticate.login.loginWithGoogle'}
            </a>
            <a class="btn btn-primary btn-block" type="button"
               href="https://www.facebook.com/v5.0/dialog/oauth?client_id=${facebookClientId}&scope=public_profile+email&response_type=code&redirect_uri=${facebookRedirectUri}">
                &{'Authenticate.login.loginWithFacebook'}
            </a>
        </div>
    </div>
</div>
